# Copyright Contributors to the Open Cluster Management project
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.org }}.cluster-lifecycle.provider-credential
rules:

# New Rules added to ClusterInstaller
# Leader Lock requires configmaps(create&get) and pods(get)
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get","list","update","watch","patch"]

# Leader election
- apiGroups:
  - ""
  - coordination.k8s.io
  resources:
  - configmaps
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch