
# Source: cluster-api-provider-aws/templates/v1_namespace_capa-system.yaml
apiVersion: v1
kind: Namespace
metadata:
  labels:
    cluster.x-k8s.io/provider: infrastructure-aws
  name: capmetal3-system
