apiVersion: v1
kind: Service
metadata:
  labels:
    cluster.x-k8s.io/provider: infrastructure-metal3
  name: mce-capm3-webhook-service
  namespace: '{{ default "multicluster-engine" .Values.global.namespace }}'
spec:
  ports:
  - port: 443
    targetPort: webhook-server
  selector:
    cluster.x-k8s.io/provider: infrastructure-metal3
