- repo_name: "managed-serviceaccount"
  github_ref: "https://github.com/stolostron/managed-serviceaccount.git"
  branch: "backplane-2.10"
  charts:
    - name: "managed-serviceaccount"
      chart-path: "charts/managed-serviceaccount"
      always-or-toggle: "toggle"
      imageMappings:
        managed-serviceaccount: managed_serviceaccount
      inclusions:
        - "pullSecretOverride"
      skipRBACOverrides: true
      updateChartVersion: true # the chart version will be retrieved from trimmed branch name, e.g. backplane-2.6 -> 2.6
      escape-template-variables:
        - "CLUSTER_NAME"
        - "HUB_KUBECONFIG"
        - "INSTALL_NAMESPACE"
      auto-install-for-all-clusters: true

- repo_name: "cluster-api-installer"
  github_ref: "https://github.com/stolostron/cluster-api-installer.git"
  branch: "backplane-2.10"
  charts:
    - name: "cluster-api"
      chart-path: "charts/cluster-api"
      always-or-toggle: "toggle"
      imageMappings:
        ose-cluster-api-rhel9: ose_cluster_api_rhel9
        mce-capi-webhook-config-rhel9: mce_capi_webhook_config_rhel9
      inclusions:
        - "pullSecretOverride"
      skipRBACOverrides: true
      updateChartVersion: true # the chart version will be retrieved from trimmed branch name, e.g. backplane-2.6 -> 2.6
      escape-template-variables:
        - "CLUSTER_NAME"
        - "HUB_KUBECONFIG"
        - "INSTALL_NAMESPACE"

    - name: "cluster-api-provider-openshift-assisted"
      chart-path: "charts/cluster-api-provider-openshift-assisted"
      always-or-toggle: "toggle"
      imageMappings:
        cluster-api-controlplane-provider-openshift-assisted: "cluster_api_provider_openshift_assisted_control_plane"
        cluster-api-bootstrap-provider-openshift-assisted: "cluster_api_provider_openshift_assisted_bootstrap"
      inclusions:
        - "pullSecretOverride"
      skipRBACOverrides: true
      updateChartVersion: true # the chart version will be retrieved from trimmed branch name, e.g. backplane-2.6 -> 2.6
      escape-template-variables:
        - "CLUSTER_NAME"
        - "HUB_KUBECONFIG"
        - "INSTALL_NAMESPACE"

    - name: "cluster-api-provider-metal3"
      chart-path: "charts/cluster-api-provider-metal3"
      always-or-toggle: "toggle"
      imageMappings:
        ip-address-manager: "ip_address_manager"
        ose-baremetal-cluster-api-controllers-rhel9: "ose_baremetal_cluster_api_controllers_rhel9"
      inclusions:
        - "pullSecretOverride"
      skipRBACOverrides: true
      updateChartVersion: true # the chart version will be retrieved from trimmed branch name, e.g. backplane-2.6 -> 2.6
      escape-template-variables:
        - "CLUSTER_NAME"
        - "HUB_KUBECONFIG"
        - "INSTALL_NAMESPACE"


    - name: "cluster-api-provider-aws"
      chart-path: "charts/cluster-api-provider-aws"
      always-or-toggle: "toggle"
      imageMappings:
        ose-aws-cluster-api-controllers-rhel9: ose_aws_cluster_api_controllers_rhel9
      inclusions:
        - "pullSecretOverride"
      skipRBACOverrides: true
      updateChartVersion: true # the chart version will be retrieved from trimmed branch name, e.g. backplane-2.6 -> 2.6
      escape-template-variables:
        - "CLUSTER_NAME"
        - "HUB_KUBECONFIG"
        - "INSTALL_NAMESPACE"
