- branch: mce-2.7
  bundlePath: /tmp/hive-operator-manifests
  gen_command: ./hack/bundle-automation/gen-hive-bundle.sh
  imageMappings:
    hive: openshift_hive
  name: hive-operator
  repo_name: hive
  sha: 76074d0b490c52730f194f57ec43b6df46a68da2
- branch: backplane-2.7
  github_ref: https://github.com/openshift/image-based-install-operator.git
  operators:
  - bundlePath: bundle/manifests/
    imageMappings:
      controller: image_based_install_operator
    name: image-based-install-operator
    preserve_files:
    - image-based-install-config_v1_route.yaml
  repo_name: image-based-install-operator
- branch: release-ocm-2.12
  github_ref: https://github.com/openshift/assisted-service.git
  operators:
  - bundlePath: deploy/olm-catalog/manifests/
    imageMappings:
      assisted-image-service: assisted_image_service
      assisted-installer: assisted_installer
      assisted-installer-agent: assisted_installer_agent
      assisted-installer-controller: assisted_installer_controller
      assisted-service: assisted_service_9
      assisted-service-el8: assisted_service_8
      postgresql-12-c8s: postgresql_12
    name: assisted-service
  repo_name: assisted-service
- branch: backplane-2.7
  github_ref: https://github.com/stolostron/ocm.git
  operators:
  - bundlePath: deploy/cluster-manager/olm-catalog/latest/manifests/
    exclusions:
    - readOnlyRootFilesystem
    imageMappings:
      registration-operator: registration_operator
    name: cluster-manager
  repo_name: registration-operator
- branch: backplane-2.7
  github_ref: https://github.com/stolostron/discovery.git
  operators:
  - bundlePath: bundle/manifests/
    imageMappings:
      discovery-operator: discovery_operator
    name: discovery-operator
  repo_name: discovery-operator
