apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: azureserviceoperator-crd-reader-role
rules:
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
