
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: backplaneconfigs.backplane.open-cluster-management.io
spec:
  group: backplane.open-cluster-management.io
  names:
    kind: BackplaneConfig
    listKind: BackplaneConfigList
    plural: backplaneconfigs
    singular: backplaneconfig
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BackplaneConfig is the Schema for the backplaneconfigs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BackplaneConfigSpec defines the desired state of BackplaneConfig
            properties:
              foo:
                description: Foo is an example field of BackplaneConfig. Edit backplaneconfig_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: BackplaneConfigStatus defines the observed state of BackplaneConfig
            properties:
              phase:
                description: Latest observed overall state
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
