# This is a basic workflow to help you get started with Actions

name: Regenerate Charts

# Controls when the action will run. 
on:
  # Runs every day
  schedule:
    - cron: "0 0 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.BACKPLANE_TOKEN }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      # Runs a set of commands using the runners shell
      - name: Regenerate Charts
        run: |
          make regenerate-charts
      
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          signoff: true
          branch: "regenerate-charts"
          delete-branch: true
          title: "Chart Update"
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          labels: do-not-merge/hold
          assignees: cameronmwall,dislbenn,ngraham20
